.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 20vw; */
  border: 1px solid #000;
  border-radius: 8px;
  cursor: pointer;
}

.card:hover {
  background-color: #cccccc;
}

.card:active {
  background-color: #acacac;
}

.card-image {
  width: 20vw;
}
