.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 225px;
  max-height: 225px;
  width: 20vh;
  height: 20vh;
  border-radius: 8px;
  cursor: pointer;
  background-color: white;
  border: 4px solid rgba(23, 133, 182);
}

.card:hover {
  background-color: #cccccc;
}

.card:active {
  background-color: #acacac;
}

.card-image {
  max-width: 18vh;
  max-height: 18vh;
  border-radius: 8px;
}

@media (max-width: 600px) {
  .card {
    max-width: 150px;
    max-height: 150px;
  }

  .card-image {
    max-width: 125px;
    max-height: 125px;
  }
}
